.content {
  display: grid;
  grid-template-columns: repeat(6, 100%);
  padding: 16px;
  &__header {
    text-align: center;
  }
  &__intro {
    font-size: 20px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    a {
      color: $black;
      text-decoration: underline;
    }
  }
  &__slideContainer {
    //display: grid;
    //grid-template-columns: repeat(6, 1fr);
  }
  &__slide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  &__row {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 16px;
    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__col {

  }
}
