.footer {
  background: $black;
  color: $white;
  width: 100vw;
  &__grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 auto;
    max-width: 1200px;
    padding: 16px;
  }
  &__col {
    display: grid;
    overflow: hidden;
    &--center-center {
      align-content: center;
      justify-content: center;
    }
  }
  &__list {
    padding: 16px;
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }
  & a {
    color: $white;
  }
}
