.hero {
  align-items: center;
  background: $clrPrimary;
  background-image: radial-gradient(circle, $clrPrimary 4%, $clrSecondary 100%);
  display: grid;
  justify-content: center;
  height: 100%;
  min-height: 310px;
  max-height: 33vh;
  width: 100%;
  &__logo {
    max-height:100%;
    max-width:100%;
  }
}
