.item {
  &__description {
    font-size: 14px;
  }
  &__image {
    max-height: auto;
    max-width: 100%;
  }
  &__price {
    font-weight: 600;
    font-size: 14px;
  }
  &__title {
    font-size: 24px;
    text-transform: uppercase;
  }
}
