.nav {
  background: $black;
  height: 80px;
  width: 100vw;
  &__list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    max-width: 800px;
  }
  &__listItem {
    align-items: center;
    color: $white;
    display: grid;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 36px;
    height: 80px;
    text-align: center;
    & a {
      color: $white;
      cursor: pointer;
      transition: color 0.18s ease-in;
      &:hover {
        color: $clrPrimary;
      }
    }
  }
}
