* {
  box-sizing: border-box;
}

html {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: BebasNeueBold, Helvetica, sans-serif, systemui;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

p {
  font-family: FantasqueSansMonoRegular;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@font-face {
    font-family: BebasNeueBold; /*a name to be used later*/
    src: url(../assets/fonts/BebasNeueBold.woff); /*URL to font*/
}

@font-face {
    font-family: FantasqueSansMono; /*a name to be used later*/
    src: url(../assets/fonts/FantasqueSansMono.woff); /*URL to font*/
    src: url(../assets/fonts/FantasqueSansMono.woff2); /*URL to font*/
}
